table {
width: 100%;
}

table tr:hover td {
background-color: #02c39a;
color: white;
font-weight: 500;
}

table th{
padding-left: 10px;
padding-right: 5px;
}

table td{
padding-left: 10px;
padding-right: 5px;
}

tr.example-detail-row {
height: 0;
}

.example-element-row td {
border-bottom-width: 0;
}

.example-element-detail {
overflow: hidden;
display: flex;
}

.btn {
border-radius: 3px;
}

.card-header{
background-color: #2ec4b6;
color: white;
}

.modal-header{
background-color: #2ec4b6;
color: white;
}

.card-body-chamado{
padding: 0px;
}

@media(max-width: 600px) {
.table-mobile {
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar
}
}

@keyframes fa-blink {
0% { opacity: 1; }
50% { opacity: 0.5; }
100% { opacity: 0; }
}
.fa-blink {
-webkit-animation: fa-blink .75s linear infinite;
-moz-animation: fa-blink .75s linear infinite;
-ms-animation: fa-blink .75s linear infinite;
-o-animation: fa-blink .75s linear infinite;
animation: fa-blink .75s linear infinite;
}

.snapshot {
text-align: center;
}

img {
max-width: 320px;
max-height: 320px;
}  