<div class="header py-7 py-lg-6" style="background-color: cornflowerblue;"></div>

<div class="row">
  <div class="col">
    <div class="card bg-default shadow mt-4">
      <div class="row">
        <div class="text-center ml-4">
          <button type="button" class="btn btn-danger btn-sm" (click)="novaCamera(modalConectarCamera)">
            <i class="fas fa-camera"></i><span>CONECTAR CÂMERA</span>
          </button>
        </div>

        <div class="text-center ml-4">
          <button type="button" class="btn btn-secondary btn-sm" (click)="modalListaCamera(modalCamera)">
            <i class="fas fa-camera"></i><span>LISTA CÂMERA</span>
          </button>
        </div>

        <div class="text-center ml-4">
          <button type="button" class="btn btn-secondary btn-sm" (click)="reconectarCamera()">
            <i class="fa fa-sync"></i><span>RECONECTAR CÂMERA</span>
          </button>
        </div>

        <div class="text-center ml-4">
          <button type="button" class="btn btn-secondary btn-sm" (click)="modalPorta(modalPortaConfig)">
            <i class="fas fa-port"></i><span>CONFIGURAR PORTA</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- mostrar cameras com reconhecimento facial -->
<div class="row form-group">
  <mat-card style="width: 620px;" class="frame ml-4 mt-4" *ngFor="let cam of camera">
    <iframe *ngIf="cam" width="600" height="340" [src]="cam"></iframe>
  </mat-card>
</div>

<div class="card card-accent-primary mb-5">
  <div class="card-header">
    <i class="icon-notebook"></i>
    <strong>LISTA </strong>
    <small>registros</small>
    <button type="button" class="btn btn-sm btn-secundary float-right" (click)="modalBuscaAvancada(buscaAvancada)">
      <i class="fas fa-search"></i><span>BUSCAR REGISTRO</span>
    </button>
    <button class="btn btn-sm btn-secundary float-right mr-2" (click)="this.logMonitoramento()">
      <i class="fas fa-sync"></i> ATUALIZAR
    </button>
  </div>

  <!-- mostrar carregamento -->
  <div class="text-center mt-4" *ngIf="loading1">
    <img src="./assets/img/theme/waiting.gif" alt="loading...">
    <h5>Atualizando registros...</h5>
  </div>

  <div class="card-body card-body-insumo">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="foto">
        <th mat-header-cell *matHeaderCellDef> FOTO </th>
        <td mat-cell *matCellDef="let usuario"> 
          <img width="50" height="50" src="{{this.URL}}/files/{{usuario.nome_arquivo}}"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> STATUS </th>
        <td mat-cell *matCellDef="let usuario"> 
          <b *ngIf="usuario.id_status == 1">{{ usuario.nome_situacao }}</b> 
          <b *ngIf="usuario.id_status == 2">{{ usuario.nome_situacao }}</b> 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> NOME </th>
        <td mat-cell *matCellDef="let usuario"> <b>{{ usuario.nome }}</b> </td>
      </ng-container>
  
      <ng-container matColumnDef="rg">
        <th mat-header-cell *matHeaderCellDef> RG </th>
        <td mat-cell *matCellDef="let usuario"> <b>{{ usuario.cpf }}</b> </td>
      </ng-container>
    
      <ng-container matColumnDef="distancia">
        <th mat-header-cell *matHeaderCellDef> DISTÂNCIA </th>
        <td mat-cell *matCellDef="let usuario"> <b>{{ format_distance(usuario.distancia) }}%</b> </td>
      </ng-container>
    
      <ng-container matColumnDef="data_instante">
        <th mat-header-cell *matHeaderCellDef> INSTANTE </th>
        <td mat-cell *matCellDef="let usuario"> {{ usuario.data_instante | date:'dd/MM/yyyy H:mm:ss' }} </td>
      </ng-container>
    
      <ng-container matColumnDef="camera">
        <th mat-header-cell *matHeaderCellDef> CÂMERA </th>
        <td mat-cell *matCellDef="let usuario"> <b>{{ usuario.camera }}</b> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="nome_coluna"></tr>
      <tr mat-row *matRowDef="let row; columns: nome_coluna;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<ng-template #modalCamera let-modal>
  <div class="modal-header bg-success">
    <h4 class="modal-title text-white" id="modal-basic-title">Câmeras</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <table class="table table-mobile" border="2" style="width: 100%;">
      <thead>
        <tr>
          <th scope="col">Login</th>
          <th scope="col">Senha</th>
          <th scope="col">Host</th>
          <th scope="col">Porta</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      
      <tbody *ngFor="let camera of lista_camera">
        <tr *ngIf="camera">
          <td>{{camera.login}}</td>
          <td>{{camera.senha}}</td>
          <td>{{camera.host}}</td>
          <td>{{camera.porta}}</td>
          <td>
            <div class="btn btn-sm btn-outline-danger" (click)="deleteCamera(camera.id)"> Excluir </div>
          </td>
        </tr>
      </tbody>
    </table>
      
  </div>
</ng-template>

<ng-template #buscaAvancada let-modal>
  <div class="modal-header bg-success">
    <h4 class="modal-title text-white" id="modal-basic-title">BUSCA REGISTRO</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <form [formGroup]="form_busca_avancada">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="rg"><b>RG</b></label>
          <div class="input-group input-group-alternative mb-3">
            <input id="rg" class="form-control" placeholder="00000000" type="text" formControlName="rg">                    
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="situacao"><b>SITUAÇÃO</b></label>
          <select id="situacao" formControlName="situacao" class="form-control" data-toggle="select" title="Lista de Situação" data-live-search="true" data-live-search-placeholder="Search ...">
            <ng-container *ngFor="let situacao of this.listar_situacao">
              <option [ngValue]="situacao.id">{{situacao.nome_situacao}}</option>
            </ng-container>
          </select>
        </div>

        <div class="form-group col-md-12">
          <label><b>NOME</b></label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
            </div>
            <input formControlName="nome" class="form-control" placeholder="nome do visitante..." type="text">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="data_inicio"><b>Data Início</b></label>
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input id="data_inicio" class="form-control" type="date" formControlName="data_inicio">
            </div>
        </div>    

        <div class="form-group col-md-6">
          <label for="data_fim"><b>Data Final</b></label>
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input id="data_fim" class="form-control" type="date" formControlName="data_fim">
            </div>
        </div>  
      </div>
    </form>   
      
  </div>
  <div class="modal-footer">
    <button (click)="buscaAvancadaForm()" class="btn btn-sm btn-primary" (click)="modal.close()" [disabled]="form_busca_avancada.status == 'INVALID'"><i class="fas fa-search"></i> Buscar</button>
  </div> 
</ng-template>

<ng-template #modalPortaConfig let-modal>
  <div class="modal-header bg-success">
    <h4 class="modal-title" id="modal-basic-title">Configuração da porta</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group col-md-6">
      <label for="ip_abrir"><b>IP da porta que vai abrir:</b></label>
      <div class="input-group input-group-alternative mb-3">
        <input id="ip_abrir" class="form-control" type="text" [formControl]="ip_abrir_porta">                    
      </div>
      <label for="ip_camera"><b>IP que faz a porta abrir:</b></label>
      <input id="ip_camera" class="form-control" type="text" [formControl]="ip_camera_porta">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="salvarConfigPorta()">Salvar</button>
  </div>
</ng-template>

<ng-template #modalConectarCamera let-modal>
  <div class="modal-header bg-success">
    <h4 class="modal-title" id="modal-basic-title">Conectar câmera</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="form-group col-md-12">
        <label><b>Usuário:</b></label>
        <input [(ngModel)]="login" #ctrl="ngModel" placeholder="usuario" class="form-control col-md-6" required>
      </div>

      <div class="form-group col-md-12">
        <label><b>Senha:</b></label>
        <input [(ngModel)]="senha" #ctrl="ngModel" placeholder="senha" class="form-control col-md-6" required>
      </div>

      <div class="form-group col-md-12">
        <label><b>Host:</b></label>
        <input [(ngModel)]="host" #ctrl="ngModel" placeholder="host" class="form-control col-md-6" required>
      </div>

      <div class="form-group col-md-12">
        <label><b>Porta:</b></label>
        <input [(ngModel)]="porta" #ctrl="ngModel" placeholder="port" class="form-control col-md-6" required>
      </div>
    </div>

    <div class="text-center">
      <button (click)="conectarCamera()" class="btn btn-sm btn-primary col-md-3 mt-4">Conectar</button>
    </div>

  </div>
</ng-template>
